name: Deploy ke Azure Docker

on:
  push:
    branches: [ "main" ]  # Pastikan branch utama kamu namanya 'main'. Kalau 'master', ganti jadi 'master'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          cd /var/www/level3
          git checkout main
          git pull origin main
          sudo docker compose up -d --build
